@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
   
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1A192E;
  }
  ::selection{
    background: #F9C041;
  
  }

  li {
    list-style: none;
}


a {
    text-decoration: none;
}
.header{
    background-color: #1A192E;
    border-bottom: 1px solid #E2E8F0;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.navbar {
    display: flex;
    overflow: hidden;
  
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

}



.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #F9C041;
}

.container{
	
     background: #1A192E;
  display: flex;
  justify-content: space-between;
    width: 100%;
    padding: 25px 30px;
   
   
    margin: auto;
  }


  .drag-area{
    border: 2px dashed #fff;
    height: 400px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .drag-area.active{
    border: 2px solid #fff;
  }
  .drag-area .icon{
    font-size: 100px;
    color: #fff;
  }
  .drag-area header{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
  }
  .drag-area span{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
  }
  .drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #F9C041;
    color: #1A192E;
    border-radius: 5px;
    cursor: pointer;
  }
  .drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .form-style-9{
width: 50%;
	background: #1A192E;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #1A192E;
	margin: 20px;
	
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
	
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	
}

 .underline::before{
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	background: #ccc;
	left: 0;
	bottom: 0;
  }
 .underline::after{
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	background: linear-gradient(to right, #ece457 0%, #F9C041 100%);
	left: 0;
	bottom: 0;
	transform: scaleX(0);
	transform-origin: left;
	transition: all 0.3s ease;
  }
   .align-left input:focus ~ .underline::after,
  .align-right input:valid ~ .underline::after{
	transform: scaleX(1);
	transform-origin: left;
  }

.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {

	background-color: #F9C041;
	color: #1A192E;
	
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	padding: 8px 18px;
	text-decoration: none;
	
}

