@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&family=Roboto+Slab:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
 }

body{
  background-color: #1A192E;
}

.heading{
    text-align: center;
    padding: 40px;
    h1{
      color: #FAFAFA;
      font-size: 40px;
    }
  }
  
    
  .hero-img{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
    img{
      opacity: 0.2;
     height: 50%;
      width: 100%;
    }
   
  .hero-heading{
   position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   
    h1{
      color: #E2E8F0;
      font-size: 40px;
    }
  }
  }
  // .search {
  //   width: 100%;
  //   padding: 20px;
  //   display: flex;
  // }
  
  // .searchTerm {
  //   width: 100%;
  //   border: 3px solid #F9C041;
  //   border-right: none;
  //   padding: 5px;
  //   height: 30px;
  //   border-radius: 5px 0 0 5px;
  //   outline: none;
  //   color: #9DBFAF;
  // }
  
  // .searchTerm:focus{
  //   color: #1A192E;
  // }
  
  // .searchButton {
  //   width: 40px;
  //   height: 46px;
  //   border: 1px solid #F9C041;
  //   background: #F9C041;
  //   text-align: center;
  //   color: #fff;
  //   border-radius:  0 5px 5px 0;
  //   cursor: pointer;
  //   font-size: 20px;
  // }
  
  // form{
  //   width: 90%;
  //   max-width: 600px;
  // }
  // .input-group{
  //   margin-bottom: 30px;
  //   position: relative;
  //   input{
  //     background: transparent;
  //   }
  //   label{
  //     height: 100%;
  //     position: absolute;
  //     left: 0;
  //     top: 0;
  //     padding: 10px;
  //     color: #F9C041;
  //     cursor: text;
  //     transition: 0.2s;
  //   }
   
  // }
  // button{
  //   width:50%;
  //   border: 1px solid #F9C041;
  //   border-radius: 5px;
  //   padding: 10px 0;
  //   color: #F9C041;
  //   outline: none;
  //   background: transparent;
  //   cursor: pointer;
  // }
  // .input:focus~label,
  // input:valid~label{
  //   top: -35px;
  //   font-size: 14px;
  // }
  
  .container{
  margin: auto;
    max-width: 400px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
   
  }
  
  .container form .input-box{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
  }
  .container form .input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border: none;
    background: transparent;
  }
  .container form .underline::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
  }
  .container form .underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #ece457 0%, #F9C041 100%);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
  }
  .container form .input-box input:focus ~ .underline::after,
  .container form .input-box input:valid ~ .underline::after{
    transform: scaleX(1);
    transform-origin: left;
  }
  .container form .button{
    margin: 40px 0 20px 0;
    border: none;
    border-radius: 5px;
  }
  
  
  .container .input-box input[type="submit"]{
    background: linear-gradient(to right, #ece457 0%, #F9C041 100%);
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .container .input-box input[type="submit"]:hover{
    letter-spacing: 1px;
    background: linear-gradient(to right, #ece457 0%, #F9C041 100%);
  }
  .container .option{
    font-size: 14px;
    text-align: center;
  }
  .text{
      text-align: center;
  a{
      text-decoration: none;
      color: white;
  }
  .log{
      color: #F9C041;
  }
  }
  