@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&family=Roboto+Slab:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
 }
 .heading h1 {
  text-align: center;
  padding: 50px;
}

.wrap{
    width: 50%;
   margin: auto;
  
  }
  .row{
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .course-img img{
   height: 250px; 
  }
  .course-text{
    padding: 0 40px;
  }
  .course-text h1{
    font-size: 30px;
  }
  .course-text h1,p{
   padding: 5px 0;
    color: #F9C041;
    line-height: 1.5;
  }
  .course-btn{
    padding: 10px 0;
  }
  .btn{
    background-color: #F9C041;
   cursor: pointer;
    padding: 10px ;
    border: none;
    border-radius: 5px;
    a{
      text-decoration: none;
      color: #1A192E;
    }
  }
  .big-btn{
 
    padding: 25px;
   margin-left: 50%;
     cursor: pointer;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #F9C041;
    a{
      text-decoration: none;
      color: #1A192E;
    }
  }
  